body,
:root{
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

*,
*:before,
*:after{
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
}

.container{
  display:grid;
  grid-template: auto 9fr / 2fr minmax(500px, 8fr);
}

.sidebar{
  grid-row: 1 / 3;
  padding: 10px;
}

.sidebar,
.header-button{
  background-color: #008dd2e3;
}

.sidebar-header-image{
  height: 2rem;
  width: auto;
  justify-self: center;
}

.sidebar-header-text{
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

.sidebar-body-image{
  height: 1.5rem;
  width: auto;
  justify-self: center;
}

.sidebar-body-text{
  font-size: 1rem;
  font-weight: 700;
  color: white;
}

.sidebar-group.sidebar-header{
  display: grid;
  grid-template: 2.5rem / 2.5rem 1fr;
}

.sidebar-group{
  display: grid;
  grid-template: 1.5rem / 2.5rem 1fr;
  gap: 0.5rem;
  grid-auto-rows: 1.5rem;
  margin-bottom: 3rem;
  align-items: center;
}

.content,
#search-bar{
  background-color: #8080804a;	
}

.header{
  padding: 10px 20px;
}

.header-first-row{
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.header-image{
  width: auto;
  height: 1.5rem;
  flex-shrink: 0;
}

#search-bar{
  border-radius: 10px;
  height: 1.5rem;
  border: none;
  margin-right: auto;
  width: max(100px,50%);
}

.profile-image{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-image: url("../images/profile-picture.png");
  background-size: cover;
  flex-shrink: 0;
}

.header-name{
  font-weight: 700;	
  margin-right: 20px;
  flex-shrink: 0;
  word-break: break-all;
  font-size: 0.8rem;
}

.header-second-row{
  display: flex;
  gap: 2rem;
  align-items: center;
}

.header-second-row > .profile-image{
  width: 3rem;
  height: 3rem;
}

.welcome-container{
  font-weight: 700;
  margin-right: auto;
}

.welcome-container > :first-child{
  font-size: 0.5rem;
}

.header-button{
  font-weight: 700;	
  font-size: 0.8rem;
  color: white;
  padding: 5px 10px;
  border: 0;
  margin: 0;
  width: 5rem;
  border-radius: 1rem;
}
